<div class="container">
    <div class="row">
        <div class="col-12">
<br>
<h1>Nueva Oferta</h1>
<br>
<%= render "form", oferta: @oferta %>

<%= link_to "Volver", ofertas_path, class: "btn btn-outline-dark" %>
        </div>
    </div>
</div>