$primary: rebeccapurple;
$danger: #dd0000;
$success: lime;
$warning: orange;
$info: aqua;

$body-bg: #f3f3f0;

@import "~bootstrap/scss/bootstrap.scss";

h1 { font-style: oblique; color: rgb(6, 105, 170);
}

h2 { font-style: oblique; color: rgb(6, 105, 170);
}