
$primary: #46b053;
$danger: #ff6347;
$success: lime;
$warning: orange;
$info: aqua;
$dark: #388c42;

$body-bg: #f0f0f3;

@import "~bootstrap/scss/bootstrap.scss";

.derechos { text-align: center; font-weight: bold; color: #46b053}
.ofer { font-weight: bold; text-align: center; text-transform: uppercase; }
.translation_missing { font-weight: bold }
h1 { font-style: oblique; color: #388c42 }
h2 { font-style: oblique; color: #388c42 }
